{% extends 'store/base.html' %}
{% block title %}Users Wish List{% endblock %}

{% block content %}
<div class="container">
    <div class="login d-flex align-items-center">
        <div class="col-12 col-md-12 col-lg-12 mx-auto">
            <div class="col-12 mx-auto">
                <h1 class="h3">My wishlist</h1>
                <div>Manage Wishlist</div>
                <hr/>

                <div class="card mb-3" rounded="0">
                    {% if wishlist %}
                    {% for product in wishlist %}
                    {% for image in product.product_image.all %}
                    {% if image.is_feature %}
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="{{ image.image }}" class="img-fluid rounded-start" alt="{{ image.image.alt }}"
                                 width="135px">
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text"><small class="text-body-secondary">£ {{ product.regular_price }}</small></p>
                                <a type="button" class="btn btn-primary fw500 btn-sm"
                                   href="{% url 'account:user_wishlist' product.id %}">Remove from Wishlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="card-text">No products have been added to your wishlist yet</p>
                {% endif %}


            </div>
        </div>

    </div>

</div>


{% endblock %}
